<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Pagina de cadastro</h1>
<form action="enviar", method="POST">
    
        <label for="pessoas">seu nome</label>
        <input id="pessoas" name="pessoas" checked type="text">
        <label for=""></label>
        <button type="submit">enviar</button>
</form>

<h1>{{result}}</h1>
    
</body>
</html>